header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #4b4b4d;
  border-bottom: 1px solid #757578;
  font-size: 18px;
  height: 50px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 20px;
}

.menu-button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Links de navegação */
.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f7f4f8;

}
.nav-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  color: #f7f4f8;
}
.nav-item:hover {
  text-decoration: underline;
}
/* Separador entre os links */
.separator {
  width: 2px;
  height: 20px;
  color: #f7f4f8;

}
.icon {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50%;
  height: 60px;
  margin-right: 3%;
}