<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
<div class="container">

  <div class="head">
    <h1>Bem-vindo(a)</h1>
  </div>

  <div class="logo">
    <img [src]="imageLogoPath" alt="Logo ZapDados" />
  </div>


  <!-- Componente de carregar arquivo -->
  <app-carregar-arquivo></app-carregar-arquivo>
</div>
</body>
<app-footer></app-footer>
