<div>
  <div>
    <h1 class="cabecalho">Relatório de últimas mensagens por usuário</h1>
    <p class="cabecalho" style="margin-bottom: 50px;">
      Aqui nós teremos os relatórios das mensagens nos últimos 30 dias por usuário. Basta selecionar o usuário a ser verificado.
    </p>
  </div>

<div class="button-container" *ngIf="!erroExtractMessages && !erroExtractUser && !erroFilterUser">
  <button (click)="downloadAsPDF()" class="button">Download PDF</button>
</div>

<app-filtro-component
    *ngIf="!erroExtractUser && !erroFilterUser && !erroExtractMessages"
    class="filtro"
    [showAllOption]="false"
    [uniqueUsers]="uniqueUsers"
    [selectedUser]="selectedUser"
    (filterChange)="handleFilterChange($event)"
    (searchChange)="handleSearch($event)">
</app-filtro-component>

  <div *ngIf="erroExtractUser || erroFilterUser || erroExtractMessages" class="erro">
    {{ mensagemErro }}
  </div>

  <div class="messages-container" *ngIf="selectedUser && !erroExtractUser && !erroFilterUser 
              && !erroExtractMessages" id="contentToDownload">
    <h3 class="sub-header">Mensagens dos últimos 30 dias para {{ selectedUser }}</h3>
    
    <div *ngIf="last30DaysMessages.length === 0" class="no-messages">
      Nenhuma mensagem encontrada nos últimos 30 dias.
    </div>

    <div *ngIf="last30DaysMessages.length > 0" class="messages-list">
      <div *ngFor="let message of last30DaysMessages" class="message-item">
        <div class="message-date">
          {{ message.data | date:'dd/MM/yyyy HH:mm' }}
        </div>
        <div class="message-content">
          <div *ngFor="let texto of message.mensagens">{{ texto }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
