<footer>
  <p>Zapdados - Estratégias para Engajamento</p>
  <p class="consideracoes">Nós analisamos e retornamos os resultados sobre as expressões mais usadas em suas conversas, assim como os horários mais ativos do grupo.
    <br> 
    <br>
    Seus dados estão seguros. Suas conversas não são armazenadas, apenas retornamos os dados feitos pela análise.

    <br>
    <br>
    Saiba mais na nossa 
    <a href="https://docs.google.com/document/d/1dujqJ2EDZcH6c19X49CkOwP5n8xCfta_8WAZY7fOHzQ/edit?tab=t.0#heading=h.qu2vpewn491v" target="_blank">
        Política de Privacidade</a>
  </p>
</footer>