<div class="componente-graficos" id="contentToDownload">
    <h3>Fluxo de Entradas e Saídas por Mês</h3>

    <div class="graficos" *ngIf="!errorChart">
        <canvas 
        baseChart 
        [datasets]="entradaChartData"
        [labels]="mesChartLabels"
        [type]="'bar'"
        [options]="{ responsive: true }">
</canvas>
<canvas 
        baseChart 
        [datasets]="saidaChartData"
        [labels]="mesChartLabels"
        [type]="'bar'"
        [options]="{ responsive: true }">
</canvas>
    </div>

    <div *ngIf="errorChart" class="erro">{{errorMessage}}</div>
  </div>
<div class="button-container" *ngIf="!errorChart">
    <button (click)="downloadAsPDF()" class="button">Download PDF</button>
</div>