<div class="img-container">
  <img src="{{imagem}}" alt="Logo ZapDados" class="img">
</div>
<div class="login-container">
    <h2 class="head">Acessar APP</h2>
    <form (ngSubmit)="onLogin()" style="align-items: center;">
      <div>
        <label for="username">Usuário: </label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div>
        <label for="password" style="padding: 5px;">Senha: </label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <button type="submit" style="background-color: #49ac91;"><b>Acessar</b></button>
      <button (click)="navigateToIntroducao()" style="background-color: #49ac91;"><b>Retornar</b></button>
    </form>
    <div *ngIf="loginError" class="error-message">
      Usuário ou senha inválidos.
    </div>
  </div>
  