<div class="container">
    <!-- Cabeçalho  -->
    <header class="header">
      <div class="menu">Menu</div>
      <img src="{{imagem}}" alt="Logo ZapDados" class="logo" />
    </header>
  
    <!-- Conteúdo principal -->
    <main class="main-content">
      <h1>Aumente o <strong>engajamento</strong> de grupos de WhatsApp com base em dados</h1>
  
      <button class="analyze-button" (click)="navigateToLogin()">Analisar dados agora</button>
  
      <div class="illustrative-graph">
        <canvas id="userChart"></canvas> <!-- Canvas para o gráfico -->
      </div>
  
      <section class="how-it-works">
        <h2>Como funciona</h2>
        <p>
          Basta enviar um arquivo de texto de sua conversa, e nós fazemos o resto! Analisamos e retornamos os dados de uso
          e expressões do grupo para você.
        </p>
      </section>
    </main>
  </div>
  