<!-- Menu Horizontal -->
<div class="menu" *ngIf="isMenuEnabled()">

    <a routerLink="/home" class="active">Home</a>
    <a routerLink="/relatorio-tempo-uso" *ngIf="isReportsVisible()">Relatório de Tempo de Uso</a>
    <a routerLink="/relatorio-expressoes-usadas" *ngIf="isReportsVisible()">Relatório de Expressões mais Usadas</a>
    <a routerLink="#" (click)="logout(); $event.preventDefault();" class="logout">Sair</a> 
    <a routerLink="/fluxo-de-pessoas" *ngIf="isReportsVisible()">Relatório do fluxo de pessoas</a>
    <a routerLink="/relatorio-ultimas-mensagens" *ngIf="isReportsVisible()">Relatorio de ultimas mensagens</a>
</div>

<div class="conteudo">
    <router-outlet></router-outlet>
</div>