.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Cinza claro */
  border: 3px solid #dcdcdc;
  border-radius: 15px;
  padding: 30px;
  width: 80%;
  max-width: 500px;
  margin: 50px auto; /* Centraliza na tela */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-button {
  background-color: rgba(144, 238, 144, 0.8); 
  border: 2px solid #90ee90; 
  color:black; 
  width: 80%;
  padding: 15px 30px; 
  border-radius: 8px; 
  cursor: pointer;
  font-size: 18px; 
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s, transform 0.2s; 
  margin-bottom: 20px;
}

.upload-button:hover {
  background-color: rgba(144, 238, 144, 1);
  transform: scale(1.05); 
}

.mensagem-inicial {
  font-size: 18px; 
  margin-top: 15px; 
  text-align: center;
  color: #555; 
  line-height: 1.5;
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: #555;
  font-weight: bold;
}

.next-button {
  background-color: #bf6bec;
  color: white; 
  border: none; 
  padding: 15px 26px; 
  font-size: 20px;
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s; 
}

.next-button:hover {
  background-color: #9855bc; 
  transform: scale(1.05);
}

